.gambar1 {
    width: 300px;
    margin-left: 50px;
    height: 300px;
}

h1{ 
    
}
a{
    margin-right:50px ;
}
.judul{
    background-color: #fff;
}
.judul2{
    background-color: #f00;
}
p{
    width: 1000px;
}

img{
    width: 300px;
    height:400px ;
    margin-left:150px ;
}
.gambar2{
    margin-left:200px ;
}
/*  */
h5{
    margin-left:100px ;
}
.p1{
    color: blue;
}
